// colors
$white: #fff;
$blue: #1976d2;
$thin-blue: #3898f6;
$mike-border: #55aaff;
$mike-color: #818181;
$dark-text: #555555;
$bluish-text: #f4faff;
$speak-input: #747474;
$details-input: #7ebaf6;
$details-input-text: #b3d5f6;
$forget: #99ccfe;
$arrow: #1975d1;
