.log {
  box-shadow: 0px 0px 13px 5px rgba(0, 0, 0, 0.42);
  margin-top: 50px;
  margin-bottom: 50px;  
  font-family: 'Roboto', sans-serif;
  .form-control {
    display: block;
    width: 100%;
    padding: 4px 5px 15px 0px;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: $white;
    background-image: none;
    border: 0;
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    outline: 0;
    border-radius: 0;
  }
  .form-group {
    margin-bottom: 65px;
  }
  .form-control::-webkit-input-placeholder {
    color: $speak-input;
    font-size: 16px;
  }
  &__speak {
    background-color: $white;
    padding-left: 60px;
    padding-right: 65px;
    padding-top: 82px;
    padding-bottom: 100px;
  }
  &__shead {
    font-size: 48px;
    color: $dark-text;
    margin-bottom: 10px;
  }
  &__ssubhead {
    font-size: 18px;
    color: $thin-blue;
  }
  &__wave-speak {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 105px;
  }
  &__wave {
    display: flex;
    align-items: center;
  }
  &__speaker {
    min-height: 98px;
    min-width: 98px;
    border-radius: 50%;
    border: 1px solid $mike-border;
    display: flex;
    justify-content: center;
    align-items: center;
    .login-microphone {
      color: $mike-color;
      font-size: 45px;
    }
  } // details or right side
  &__details {
    background-color: $blue;
    padding-left: 95px;
    padding-right: 55px;
    padding-top: 82px;
    padding-bottom: 100px;
    .form-control {
      background-color: transparent;
      border-bottom: 1px solid $details-input;
      color: $details-input-text;
      &::-webkit-input-placeholder {
        color: $details-input-text;
      }  
    }
  }
  &__dhead {
    font-size: 48px;
    margin-bottom: 10px;
    color: $white;
  }
  &__dsubhead {
    font-size: 18px;
    color: $bluish-text;
    margin-bottom: 90px;
  }
  &__inputs {
    position: relative;
  }
  &__icons {
    position: absolute;
    right: 0;
    top: 0px;
    color: $details-input-text;
    font-size: 19px;
  }
  .login-key {
    transform: rotate(-90deg);
    font-size: 26px;
  }
  &__reset-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .login-right-arrow {
      color: $arrow;
      font-size: 25px;
    }
  }
  &__btn {
    background-color: $white;
    padding: 16px 62px;
    border-radius: 30px;
    border: 0;
    box-shadow: 0px 17px 20px 0px rgba(0, 0, 0, 0.43);
    cursor: pointer;
  }
  &__forget {
    font-size: 14px;
    color: $forget;;
  }
  &__reset {
    font-size: 14px;
    color: $white;
  }
}
