@import "variables";

@font-face {
  font-family: 'login';
  src:  url('#{$icomoon-font-path}/login.eot?z3goj1');
  src:  url('#{$icomoon-font-path}/login.eot?z3goj1#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/login.ttf?z3goj1') format('truetype'),
    url('#{$icomoon-font-path}/login.woff?z3goj1') format('woff'),
    url('#{$icomoon-font-path}/login.svg?z3goj1#login') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="login-"], [class*=" login-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'login' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-right-arrow {
  &:before {
    content: $login-right-arrow;
  }
}
.login-microphone {
  &:before {
    content: $login-microphone;
  }
}
.login-profile {
  &:before {
    content: $login-profile;
  }
}
.login-key {
  &:before {
    content: $login-key;
  }
}

